@model Desconcard.Web.MVC.Models.EstabelecimentoModelcs
@{
    ViewBag.Title = "Cadastro de Estabelecimento";
}


<h2>Cadastro de estabelecimento</h2>

@using (Html.BeginForm("Cadastrar", "CadEstabalecimento", FormMethod.Post))
{
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }


    @Html.LabelFor(a => a.usuario.Desc_email_usuario)
    @Html.TextBoxFor(a => a.usuario.Desc_email_usuario)
    @Html.ValidationMessageFor(a => a.usuario.Desc_email_usuario)


    @Html.LabelFor(a => a.usuario.Desc_Senha)
    @Html.TextBoxFor(a => a.usuario.Desc_Senha)
    @Html.ValidationMessageFor(a => a.usuario.Desc_Senha)


    <h2>Dados da empresa</h2>


    @Html.LabelFor(a => a.Nm_Estabelecimento)
    @Html.TextBoxFor(a => a.Nm_Estabelecimento)
    @Html.ValidationMessageFor(a => a.Nm_Estabelecimento)

    <br />

    @Html.LabelFor(a => a.Cnpj_Estabelecimento_Base)
    @Html.TextBoxFor(a => a.Cnpj_Estabelecimento_Base)
    @Html.ValidationMessageFor(a => a.Cnpj_Estabelecimento_Base)


    @Html.LabelFor(a => a.Cnpj_Estabelecimento_barra)
    @Html.TextBoxFor(a => a.Cnpj_Estabelecimento_barra)
    @Html.ValidationMessageFor(a => a.Cnpj_Estabelecimento_barra)


    @Html.LabelFor(a => a.Cnpj_Estabelecimento_digito)
    @Html.TextBoxFor(a => a.Cnpj_Estabelecimento_digito)
    @Html.ValidationMessageFor(a => a.Cnpj_Estabelecimento_digito)

    <br />

    <h2>Endereço</h2>


    @Html.LabelFor(a => a.Endereco_Estabelecimento.cidade.Estado.Desc_Estado)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.cidade.Estado.Desc_Estado)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.cidade.Estado.Desc_Estado)

    @Html.LabelFor(a => a.Endereco_Estabelecimento.Cidade.Desc_Cidade)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.Cidade.Desc_Cidade)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.Cidade.Desc_Cidade)

    <br />

    @Html.LabelFor(a => a.Endereco_Estabelecimento.Desc_Rua)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.Desc_Rua)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.Desc_Rua)

    <br />


    @Html.LabelFor(a => a.Endereco_Estabelecimento.Numero)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.Numero)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.Numero)


    <br />

    @Html.LabelFor(a => a.Endereco_Estabelecimento.Desc_Bairro)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.Desc_Bairro)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.Desc_Bairro)

    <br />

    @Html.LabelFor(a => a.Endereco_Estabelecimento.Cidade)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.Cidade)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.Cidade)

    <br />

    @Html.LabelFor(a => a.Endereco_Estabelecimento.Cep_base)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.Cep_base)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.Cep_base)

    <br />

    @Html.LabelFor(a => a.Endereco_Estabelecimento.Cep_digito)
    @Html.TextBoxFor(a => a.Endereco_Estabelecimento.Cep_digito)
    @Html.ValidationMessageFor(a => a.Endereco_Estabelecimento.Cep_digito)



    <br />




    <input type="submit" value="Cadastro" />







}